.container{
    display: flex;
    /* background-color: aqua; */
    height: 100%;
    width: 100%;
    flex-direction: column;
}
.headerBox{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.headerText{
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    margin-left: 140px;
}
.getButton{
    height: 35px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.formBox{
    flex: 1;
    max-width: 40vw;
    display: flex;
    /* background-color: rgb(255, 0, 230); */
    flex-direction: column;
    gap: 15px;
    padding: 10px 20px;
    height: 75vh;
    overflow: auto;
}
.formBox::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.inputBox{
    width: 100%;
}
.inputButtonBox{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.textFieldContainer{
    display: flex;
    gap: 20px;
    justify-content: center;
    background-color: rgb(240, 239, 245);
    padding-top: 15px;
}